
<div class= "blog-title">
	<h1><%= @group.name %></h1>
</div>

<div class= "box">
 
	<% @group.users.each do |user| %>

	
	<div class= "boxes">
		<h1><%= user.title %></h1>
		<p>By</p>
		<h3><%= user.name %></h3> 
 		<%= link_to 'Enter', users_path(user.id), class:'link' %>
	</div>

		<% end %>
</div>


