
<!-- first page you see when yo go to this website
 -->
<div class= "wave">
 
<h1>Welcome to the Wave!</h1>
	<p>sign in or create an account</p>



      <%= link_to 'sign up', new_user_registration_path, class: :button %>
      
       
      <%= link_to 'log in', new_user_session_path, class: :button %> 

  </div>